<apex:page standardController="TV_Serie_Attachments__c" extensions="EditTVSerieAttachmentController" showHeader="true">
    <apex:form >
        <apex:pageBlock title="Edit attachment" mode="edit">
            <apex:pageBlockSection showHeader="true" columns="1" id="block1">
             <!--   <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Attachment name" for="attachmentName"/>
                    <apex:inputText value="{!name}"/>
                </apex:pageBlockSectionItem> -->
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Attachment type" for="attachmentType"/>
                    <apex:selectList value="{!attType}" multiselect="false" size="1">
                        <apex:selectOptions value="{!attTypes}"/>
                    </apex:selectList>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="File" for="file"/>
                    <apex:inputFile value="{!attachment.Body}" fileName="{!attachment.Name}" id="file"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel />
                    <apex:commandButton action="{!modify}" value="Save"/>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>