<apex:page standardController="TV_Serie__c" extensions="TVSeriesPageController" showHeader="true" >

    <apex:tabPanel switchType="client" selectedTab="tabdetails" id="TVSeriesTabPanel" tabClass="activeTab" inactiveTabClass="inactiveTab">
        <!-- Details Tab -->

        <apex:tab label="Details"  id="tvsdetails">
            <apex:form >
                <div align="right" draggable="false">
                    <apex:commandButton action="{!delete}" Value="Delete Tv Serie" />
                </div>
            </apex:form>
            <apex:pageBlock >
                <apex:pageBlockButtons location="bottom">
                    <apex:form >
                        <apex:commandButton action="{!delete}" value="Delete" />
                    </apex:form>
                </apex:pageBlockButtons>
                <apex:pageBlockSection columns="2">
                    <apex:pageBlockSectionItem >
                        <apex:pageBlockSectionItem >
                            <apex:pageBlock title="Information">
                                <div align="center" draggable="false">
                                    <apex:form >
                                        <apex:commandButton action="{!edit}" Value="Edit information" />
                                    </apex:form>
                                </div>
                                <apex:pageBlockSection columns="1">
                                    <apex:outputField value="{!TV_Serie__c.Name}" />
                                    <apex:outputField value="{!TV_Serie__c.Title__c}"/>
                                    <apex:outputField value="{!TV_Serie__c.Category__c}"/>
                                    <apex:outputField value="{!TV_Serie__c.Number_of_Seasons__c}" />
                                    <apex:outputField value="{!TV_Serie__c.Number_of_Episodes__c}" />
                                    <apex:outputField value="{!TV_Serie__c.Discription__c}" />
                                    <apex:outputField value="{!TV_Serie__c.YouTube_URL__c}" />
                                </apex:pageBlockSection>
                            </apex:pageBlock>
                            <apex:pageBlock title="Trailer on YouTube">
                                <div align="center" >
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/{!TV_Serie__c.YouTubeValue__c}" frameborder="0" allow="autoplay; encrypted-media"></iframe><br />
                                    * YouTube link is edited in Information Block
                                </div>
                            </apex:pageBlock>
                        </apex:pageBlockSectionItem>
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:pageBlock title="Media">
                            <div align="center" draggable="false">
                                <apex:form >
                                    <apex:commandButton action="{!newTvSerieAttachment}" Value="New attachment" />
                                </apex:form>
                            </div>
                            <apex:pageBlockSection columns="2">
                                <apex:pageBlockSectionItem >
                                    <apex:pageBlock title="Logo">
                                        <apex:image url="/servlet/servlet.FileDownload?file={!logoTVSeries}" width="100%"/>
                                    </apex:pageBlock>
                                </apex:pageBlockSectionItem>
                                <apex:pageBlockSectionItem >
                                    <apex:pageBlock title="Screens">
                                        <apex:repeat value="{!screensList}" var="screen" id="screenRepeat">
                                            <apex:image url="/servlet/servlet.FileDownload?file={!screen}" width="50%"/>
                                        </apex:repeat>
                                    </apex:pageBlock>
                                </apex:pageBlockSectionItem>
                            </apex:pageBlockSection>
                        </apex:pageBlock>
                    </apex:pageBlockSectionItem>
                </apex:pageBlockSection>
            </apex:pageBlock>
            <!-- -->
            <apex:pageBlock >
                <apex:detail relatedList="false" title="true"/>
            </apex:pageBlock>
            <apex:pageBlock >
            </apex:pageBlock>
            <apex:pageBlock >
                <apex:relatedList list="TV_Serie__r" />
            </apex:pageBlock>
            <apex:pageBlock mode="edit">
                <apex:pageBlockTable value="{!tvSerieAttachments}" var="item">
                    <apex:column value="{!item.Name}" />
                    <apex:column value="{!item.Type__c}" />
                    <apex:column >
                        <apex:form >
                            <apex:commandLink value="Edit" action="{!modifyAttachment}" >
                                <apex:param name="editAtta" value="{!item.Id}" assignTo="{!selectedAttachment}" />
                            </apex:commandLink>
                        </apex:form>
                    </apex:column>
                    <apex:column >
                        <apex:form >
                            <apex:commandLink value="Delet" action="{!deleteAttachment}">
                                <apex:param name="deleteAtta" value="{!item.Id}" assignTo="{!selectedAttachment}" />
                            </apex:commandLink>
                        </apex:form>
                    </apex:column>
                    <apex:column >
                        <apex:form >
                            <apex:commandLink value="View" action="{!viewAttachment}">
                                <apex:param name="viewAtta" value="{!item.Id}" assignTo="{!selectedAttachment}" />
                            </apex:commandLink>
                        </apex:form>
                    </apex:column>
                </apex:pageBlockTable>
            </apex:pageBlock>
            <apex:pageBlock title="Trailer on YouTube">
                <iframe width="560" height="315"
                        src="https://www.youtube.com/watch?v=UKTNWI0eYJ4"
                        frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="false"/>
            </apex:pageBlock>
        </apex:tab>
        <!-- season tab-->
        <apex:tab label="Seasons" name="tvsSeasons" id="tvsseasons">
            <apex:form >
                <h1>Please select season:</h1>
                <apex:selectList value="{!season}" multiselect="false" size="1">
                    <apex:selectOptions value="{!items}" />
                </apex:selectList>
                <apex:commandButton value="Select" action="{!test}" rerender="out" status="status" />
                <apex:commandButton value="Add new season" action="{!addSeason}" />
            </apex:form>
            <apex:outputPanel id="out">
                <apex:actionStatus id="status" startText="select...">
                    <apex:facet name="stop">
                        <apex:outputPanel >
                            <apex:pageBlock >
                                <apex:form >
                                    <apex:pageBlockTable value="{!selectedEpisodes}" var="se" id="list">
                                        <apex:column >
                                            <apex:facet name="header">ID</apex:facet>
                                            <apex:outputLink value="/{!se.Id}">{!se.Id}</apex:outputLink>
                                        </apex:column>
                                        <apex:column >
                                            <apex:facet name="header">Title</apex:facet>
                                            <apex:outputText value="{!se.Title__c}" />
                                        </apex:column>
                                        <apex:column >
                                            <apex:facet name="header">Name</apex:facet>
                                            <apex:outputText value="{!se.Name}" />
                                        </apex:column>
                                        <apex:column >
                                            <apex:facet name="header">Episode number</apex:facet>
                                            <apex:outputText value="{!se.Episode_Number__c}" />
                                        </apex:column>
                                    </apex:pageBlockTable>
                                </apex:form>
                            </apex:pageBlock>
                        </apex:outputPanel>
                    </apex:facet>
                </apex:actionStatus>
            </apex:outputPanel>
        </apex:tab>
    </apex:tabPanel>
</apex:page>